<div id='visualization'></div>

<script type='text/javascript'>
  google.load('visualization', '1', { packages:['corechart']});
  google.setOnLoadCallback(drawVisualization);

  function drawVisualization() {
    var data = new google.visualization.DataTable();
    data.addColumn('string', 'OS');
    data.addColumn('number', 'visits'); 
    <% @visits.each do |visit| %>
      data.addRow(['<%= visit[:os] %>', <%= visit[:visits] %>]);
    <% end %>

    new google.visualization.PieChart(document.getElementById('visualization')).draw(data, {
      title: 'Visits by operating system'
    });
  }
</script>